[Unit]
ConditionPathExists=%h/.nvidia-settings-rc

[Service]
ExecStart=/usr/lib/nvidia/current/nvidia-settings -l

[Install]
WantedBy=xsession.target
