[Unit]
ConditionEnvironment=DISPLAY
Before=org.gnome.Shell@x11.service
After=gnome-session-x11.target xsession.target

[Service]
ExecStart=/opt/bin/xrandr-nv-provider.sh
Type=oneshot
RemainAfterExit=yes
