[Desktop Entry]
Name=NVIDIA X Server Settings
Comment=Configure NVIDIA X Server Settings
Exec=/usr/lib/nvidia/current/nvidia-settings
Terminal=false
Type=Application
Icon=/usr/lib/nvidia/current/nvidia-settings.png
Categories=Settings;HardwareSettings;
