[Desktop Entry]
Type=Application
Name=Use NVidia provider for all outputs
Exec=/usr/bin/xrandr --setprovideroutputsource 1 0
NoDisplay=true
X-GNOME-Autostart-Phase=DisplayServer
